*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	position: relative;
	scroll-behavior: smooth;
	font-size: 20px;
}

body{
	font-family: Courier, sans-serif;
	min-height: 100vh;
	background: radial-gradient(#6dd5ed,#2193b0);
	color: #fff;
}

h1{
	font-size: 3rem;
	padding: .7em;
}

p{
	font-size: 1rem;
	line-height: 2;
	padding: 1em;
}

nav{
	position: fixed;
	top: 50%;
	left: -1px;
	transform: translateY(-50%);
	z-index: 1;
	text-align: center;
	border: 1px solid #fff
}

nav li{
	padding: 1em;
	list-style-type: none;
}

nav i{
	font-size: 2.5rem;
	color: #fff;
}

nav i:hover{
	color: #d3d3d3;
}

nav .active{

}

.wrapper{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 60%;
	min-width: 750px;
	height: 100vh;
	display: flex;
}

.sec{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.text{
	flex-grow: 1;
}

.sec i{
	font-size: 10rem;
	padding: 5rem;
}

#link{
	color: #fff;
}

@media screen and (max-width:950px) {
	nav{
		top: 100%;
		left: 50%;
		transform: translate(-40%,-100%);
		width: 400px;
	}
	nav ul{
		display: flex;
	}
}

@media screen and (max-width:800px) {
	html{
		font-size: 18px;
	}
}
