*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Courier, sans-serif;
	min-height: 100vh;
	background: radial-gradient(#6dd5ed,#2193b0);
	color: #fff;
}

h1{
	font-size: 4em;
	padding: .7em;
}

p{
	font-size: 20px;
	line-height: 2;
	padding: 1em;
} 

.wrapper{
	height: 100vh
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;   
}